---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import News from '../components/News.astro';
import Articles from '../components/Articles.astro';
---

<Layout>
	<div class="grid md:grid-cols-3 grid-rows-[19rem, auto, auto] row-auto gap-6">
		<div class="md:col-span-2">
			<Hero />
		</div>
		<div class="bg-very-dark-blue text-off-white p-6">
			<News>
		</div>
		<div class="md:col-span-3">
			<Articles />
		</div>
	</div>
</Layout>
