---
import type {Post} from '../interfaces/post';
const posts = Astro.props.posts as Post[];
const articles = posts.slice(4, 7);
---
<section class="featured-articles md:col-start-1 md:col-end-4 md:mt-10">
  <h2 class="sr-only">Featured Articles</h2>
  <ul class="counter-list grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
    {articles.map(({excerpt, title, featuredImageDesktop, slug}):Post => (
      <li class="grid grid-cols-[6.25rem_1fr] grid-rows-2 row-span-2 gap-6 gap-y-1">
        <img src={import.meta.env.STRAPI_URL + featuredImageDesktop?.url } alt="" class="row-start-1 row-end-4 object-cover h-[7.9375rem]">
        <h3 class="text-lg flex flex-col gap-1 font-black text-very-dark-blue row-span-1"><a class="hover:text-soft-red hover:underline underline-offset-4 transition-all" href={`/post/${slug}`}>{ title }</a></h3>
        <p class="font-thin row-span-1 text-clip">{ excerpt }</p>
      </li>
      ))}
  </ul>
</section>



