---
import { Image } from "astro:assets";

title: "Hero"

const title = "The Bright Future of Web 3.0?";
import heroImageDesktop from "../../public/images/image-web-3-desktop.jpg";
import heroImageMobile from "../../public/images/image-web-3-mobile.jpg";
---
<section class="flex flex-col">
  <Image src={heroImageMobile} alt="Abstract wooden colored puzzle" class="w-full h-auto md:hidden" priority />
  <Image src={heroImageDesktop} alt="Abstract wooden colored puzzle" class="w-full h-auto hidden md:block" priority />
  <div class="grid md:grid-cols-2 gap-4 mt-6">
    <h1 class="text-6xl font-black">{ title }</h1>
    <div class="flex flex-col gap-4 pt-4">
      <p class="leading-8">We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
      <a href="/articles" class="btn bg-soft-red px-4 py-4 max-w-max hover:bg-very-dark-blue hover:text-off-white transition-all mt-auto">Read More</a>
    </div>
  </div>
</section>
